// This is the one that actually makes a difference
a {
  color: #1648ab
}


::selection {
  background: #1d4aa5ab;
}

.nav-list .nav-list-item .nav-list-expander {
  color: #1648ab;
}

.icon {
  color: #1648ab;
}