// This is the one that actually makes a difference
a {
  color: #1648ab;
}

// ::selection {
//   background: #1d4aa5ab;
// }

.nav-list .nav-list-item .nav-list-expander {
  color: #1648ab;
}

.icon {
  color: #1648ab;
}

.site-footer {
  visibility: hidden;
}

.main-content .anchor-heading svg {
  color: #1648ab;
}

blockquote:not(.pull-quote) {
  font-style: italic;
  border-left: 11px solid #e8ebf7;
  padding: 1em calc(1.5em + 0.5vw);
  color: #424242;
  margin-left: 0;
  margin-right: 0;
  font-size: 1em;
  line-height: 1.65em;
  letter-spacing: 0;
  border-radius: 11px;
  background: linear-gradient(to bottom right, #f4f5fb 0, #f5f6fa 100%);
}

::selection {
  color: #fff;
  background: #1648ab;
}

// .search-result-doc .search-result-icon {
//   color: #1648ab;
// }
// .search-label .search-icon {
//   color: #1648ab;
// }

.search-input:focus + .search-label .search-icon {
  color: #1648ab;
}
.img-left {
  float: left;
  margin-right: 1em;
}
.img-right {
  float: right;
  margin-left: 1em;
}
