// This is the one that actually makes a difference
a {
  color: #1648ab;
}

::selection {
  background: #1d4aa5ab;
}

.nav-list .nav-list-item .nav-list-expander {
  color: #1648ab;
}

.icon {
  color: #1648ab;
}

.site-footer {
  visibility: hidden;
}

.main-content .anchor-heading svg {
  color: #1648ab;
}

blockquote:not(.pull-quote) {
  font-style: italic;
  border-left: 11px solid #e6e4e1;
  padding: 1em calc(1.5em + 0.5vw);
  color: #424242;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.05em;
  line-height: 1.65em;
  letter-spacing: 0;
  border-radius: 11px;
  background: linear-gradient(to bottom right, #f5f2f0e3 0, #fff 100%);
}
